
.input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.tareas-input{
    font-size: 20px;
    margin-right: 10px;
    width: 400px;
    height: auto;
}

.tareas-input-button{
    font-size: 20px;
}

.container-tareas{
    border: none;
}
.tareas{
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    border: solid #122;
    
}
.tareas-text{
    margin: 5px;
    overflow: auto;
}

.tareas-check{
    margin: 5px;
}
.tareas-button{
    margin: 5px;
}