.block{
    width: 50px;
    height: 50px;
    margin: 5px;

}
.container-block{
    width: 100%;
    height: auto;
    border: solid rgb(105, 105, 105);
    border-radius: 5px;
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.options-color{
    display: flex;
    align-items: center;
    justify-content: center;
}
.set-color{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.in-color{
    height: 30px;
}
